node_modules
dist
dist-ssr
.wrangler
.dev.vars
*.local
.env
.env.*
!.env.example

# TypeScript 增量构建缓存
*.tsbuildinfo

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
